<div class = "container">
	<div class="jumbotron">
          <h1>Customize Your Workout!</h1>
              <p>Pick an exercise based off categories and start getting your reps in! </p>
   </div>
   <div class="row">
   {{#each workoutType}}
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
	            <div class="list-group">
	            	
				  <a href="#" id="workoutType" class="list-group-item active">
				    {{this}} 
				  </a>
				  
				  {{#each workout}}
				  <button><a href="#" id="workouts" class="list-group-item">{{this}}</a></button>
				  {{/each}}
				  
				  
				</div>
            </div>
        </div>
        {{/each}}
	</div>
	<div class="customize">
		<h1>Your Workout</h1>
			<ol>
			</ol>
		</div>

<script>

$('button').click(function() {
	var workout = $('button');
	$('ol').append('<li>'+workout+'</li>');
	});

</script>