<div class = "container">
	<div class="jumbotron">
          <h1>Customize Your Workout!</h1>
              <p>Pick an exercise based off categories and start getting your reps in! </p>
   </div>
   <div class="row">
   {{#each workoutType}}
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
	            <div class="list-group">
	            	
				  <a href="#" id="chest" class="list-group-item active">
				    {{this}} 
				  </a>
				  
				  {{#each workout}}
				  <a href="#" class="list-group-item">{{this}}</a>
				  {{/each}}
				  
				</div>
            </div>
        </div>
        {{/each}}
</div>