<div class="col-md-3"></div>
<div class="col-md-6">
    <form action="/create-account" method="POST">
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" name="first_name">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id="lastName" name="last_name">
        </div>
        <div class="form-group">
            <label for="heightFt">Height (ft):</label>
            <input type="text" class="form-control" id="heightFt" name="heightFt">
        </div>
        <div class="form-group">
            <label for="heightIn">(in):</label>
            <input type="text" class="form-control" id="heightIn" name="heightIn">
        </div>
        <div class="form-group">
            <label for="weight">Weight:</label>
            <input type="text" class="form-control" id="weight" name="weight">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" class="form-control" id="age" name="age">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="username">Create Username:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="pass">Password:</label>
            <input type="text" class="form-control" id="pass" name="pass">
        </div>
<button class="text-center" type="submit">Create Account</button>
</div>
</form>
</div>
<div class="col-md-3"></div>