 <form class="create-update-form" action="/create-account" method="POST">
    <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" id="lastName" name="last_name">
        <label for="heightFt">Height (ft):</label>
        <input type="text" id="heightFt" name="heightFt">
        <label for="heightIn">(in):</label>
        <input type="text" id="heightIn" name="heightIn">
        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="username">Create Username:</label>
        <input type="text" id="username" name="username">
        <label for="pass">Password:</label>
        <input type="text" id="pass" name="pass">
    </div>
    <button type="submit">Create Account</button>
</form> 
