<div class="container">
    <div class="jumbotron">
        <h1>Fit Rep</h1>
        <p> Welcome to Fit Rep! Make an Account! Build your Workout! And get to Reppin!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign In</a> or <a class="btn btn-primary btn-lg" href="#" role="button">Create Accout</p>
    </div>
</div>