<div class="container">
    <div class="text-center">
        <img src="/assets/img/fitRepLogo.png"></img>
    </div>
    <div>
        <div class="col-md-6">
            <form class="text-center" action="/login" method="GET">
                <input type="hidden" name="login" value="true">
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="col-md-6">
            <form class="text-center" action="/create-account" method="GET">
                <input type="hidden" name="create-account" value="true">
                <button type="submit">Create Account</button>
            </form>
        </div>
    </div>
</div>