<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
		<div class="col-md-4">
			<h1>Exercises List</h1>
             <li>
                {{#each exercises}}
                    <div>{{this.workout_type}}, {{this.exercise}}</div>
                {{/each}}
            </li> 
		</div>
		<div class="col-md-4">
            
        </div>
    </div>
</div>